.etiquetaPM{
    font-family: 'lato', sans-serif;
    color: black;
    font-size: 16px;
    float: left;
    padding-left: 10px;
    padding-top: 10px;
 }

 .contPM{
     background-color: #E8CB9A;
     border-radius: 8px;
     height: 285px;
     margin-bottom: 20px;
     margin-top: 20px;
     width: 50%;
 }

 .tituloPM{
    font-family: 'Lobster', cursive;
    color: #333333;
    font-size: 70px;
    padding-left: 10px;
    padding-top: 10px;
 }
 .botonCerrar{
    border-color: #333333;
    font-size: 16px;
    height: 30px;
    margin-top: 10px; 
    margin-left: 10px;
 }
 .botonCerrar:hover{
    border-color: black;
    color: #4f774f;
    background-color: honeydew;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
<<<<<<< HEAD
 }
=======
 }
 

 @media(min-width: 1000px){
   .contPM{
       width: 55%;
   }
   }

 @media(max-width: 1000px){
   .contPM{
       width: 70%;
   }
   }

 @media(max-width: 900px){
.contPM{
    width: 80%;
}
}
@media(max-width: 750px){
   .contPM{
       width: 80%;
   }
}
@media(max-width: 600px){
    .contPM{
        width: 95%;
    }
}
@media(max-width: 500px){
    .contPM{
        width: 95%;
    }
 
}



@media(min-width: 1000px){
   #botonResp{
       width: 55%;
   }
   }

@media(max-width: 1000px){
   #botonResp{
       width: 70%;
   }
   }

 @media(max-width: 900px){
#botonResp{
    width: 80%;
}
}
@media(max-width: 750px){
   #botonResp{
       width: 80%;
   }
}
@media(max-width: 600px){
    #botonResp{
        width: 95%;
    }
}
@media(max-width: 500px){
    #botonResp{
        width: 95%;
    }
 
}
>>>>>>> acdcfb3a634e92a6bc713a38683a4f852578a8ae
