.subsubmenu1{
    background-color:#333333  ;
    margin-left: 124px;
    margin-top: -52px;
    
    height: 155px;
    width: 95px;
    visibility: hidden;
}
.subsubmenu2{
    background-color: #333333;
    margin-left: 124px;
    margin-top: -60px;
    margin-bottom: 0px;
    height: 265px;
    width: 95px;
    visibility: hidden;
}
.subsubmenu3{
    background-color:#333333 ;
    margin-left: 124px;
    margin-top: -65px;
    margin-bottom: 0px;
    height: 215px;
    width: 185px;
    visibility: hidden;
}

#dificultad{
    margin-top: -100px;
}
#tiempo{
    margin-top: -205px;
}

header{
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    background-color: #275351;
    height: 90px;
}

body{
    background-color:  #edf1b8;
    overflow-x: hidden; /* esconder scrool horizontal*/
}

a,  nav{
    color: white;
    text-decoration: none;
}

.cajita-menugement{
    display: flex;
    width: auto;
    height: 90px;
    display: flex;
    float: left;
    align-items: center;
    font-size: 50px;
}

.central-pag{
    display: flex;
    flex-wrap: wrap;
    width: 60%; /* se adapta a un porcentaje del ancho de la pantalla */
    height: 100%; /* se adapta a la altura del elemento contenido*/
    justify-content: space-between; /* deja un mismo espacio entre elementos */   
}

.item-img{
    border-radius: 5px;
    height: 180px;
    width: 180px;
    margin-bottom: 15px;
}

.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
}

body::-webkit-scrollbar{
    width: 10px;
    background: #ccbda4;
}

body::-webkit-scrollbar-thumb{
    background: #9e937f;
    border-radius: 5px;
}

/*footer*/

footer{
    display: flex;
    margin-bottom: -18px;
    margin-left: -8px;
    margin-right: -10px;
    height: 210px;
    


    background: #275351;  
    color: white;
    text-align: center;
    box-sizing: border-box;
    font-family: arial;
    font-size: 18px;
}

.cajas-1{
    display: inline-block;
    width: 33%;
    background: #275351;  
    
}
.cajas-2{
    display: inline-block;
    width: 33%;
    background: #275351;  
}

.cajas-3{
    width: 100px;
    /*display: flex;*/
    width: auto;
    align-items: center;
    background: #275351;  
    /*margin-top: 20px;*/
}


.cajas-4{
    display: flex;
    font-family: 'Lobster', cursive;
    align-items: center;
    width: auto;
    font-size: 50px;
    background: #275351;  
    
}

.social-media {
    width: 100%;
    display: flex;
    justify-content: center  ;
  }
  
  .social-media-icon {
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
  }
  
  .social-media-icon i {
    font-size: 30px;
    line-height: 60px;
  }

  .social-media-icon:hover {
    background: #fff;
    color: #764ba2;
  }

 .item-logo{
     margin: 15px;
     margin-top: 25px;
 }
/*
 .menugement{
    display: flex;
    font-family: 'Lobster', cursive;
    align-items: center;
    width: 25%;
    font-size: 50px;

 }
*/
.container{
    position: relative;
    margin: 0 auto;
    max-width: 100%;
}

 .content{
     position: absolute;
     bottom: 0;
     background: rgb(0, 0, 0);
     background: rgba(0, 0, 0, 0.5);
     color: #f1f1f1;
     padding-left: 20px;
     padding-right: 20px;
     padding-bottom: 20px;
     margin-bottom: 15px;
     width: 140px;
     height: 160px;
     font-family: 'Lato', sans-serif;
     font-size: 13px;
     text-transform: uppercase;
     opacity: 0;
     display: flex;
     align-items: center; /*centrar verticalmente*/
     text-align: center;
 }

 .content:hover{
    opacity: 1;
 }

 .container img{
    vertical-align: middle;
}

h5{
    margin-bottom: 15px;
}

h2{
    margin-bottom: -10px;
}

.navegacion{ 
    width: 100%;
    height: 90px;   
}

.navegacion ul{
    list-style: none;
}

.menu > li{
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.menu > li > a{
    display: block;
    padding: 15px 35px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 20px;
}

.submenu{
    position: absolute;
    background-color: #333333;
    width: 105%;
    height: 190px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s;
    border-radius: 2px;
    z-index: 1;
}

.submenu li a{
    display: block;
    padding: 15px;
    padding-left: 0px;
    color: #fff;
    font-family:'Lato', sans-serif;
    font-size: 18px;
    text-decoration: none;
}

.submenu li:hover a{
    color: #0082e6;
}


.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}


.menu .submenu #categoriaHover:hover .subsubmenu1{
    visibility: visible;
    opacity: 1;
}
.menu .submenu #dificultadHover:hover .subsubmenu2{
    visibility: visible;
    opacity: 1;
}
.menu .submenu #tiempoHover:hover .subsubmenu3{
    visibility: visible;
    opacity: 1;
}


/*prueba pop up*/

 .ventana{
    background-color:#f5e3c5;
    width:500px;
    height: 430px;
    padding: 10px 20px;
    margin: 20% auto;
    position: relative;
    border-radius: 15px;
    color: #333333;
    font-family: 'Lato', sans-serif;
  }
  .modal{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:-250px;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
    border: 8px;
    z-index: 1;
  }

  #IrVentanaFlotante:target{
    opacity:1;
    pointer-events:auto;
  }
  /*.opcion{width: 100px;
          background-color:yellow;
  border:1px solid black;}*/
  
 video{
    margin-top: 0px;
    padding-top: 0px;
    width: 500px;
    height: 300px;

 }

 .botonCerrar{
     height: 30px;
     width: 80px;
     background-color: #333333;
     border-style: solid;
     color: white;
     border-radius: 3px;
     margin-top: 10px;
     border-color: white;
     font-family:'Lato', sans-serif;
     font-size: 15px;
 }

 .botonCerrar:hover{
     background-color: #333333ee;
 }

 /*media query*/
 .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }

  a.active,a:hover{
    color: #0082e6;
    transition: .5s;
  }

 


 @media (max-width: 1400px){
    .submenu{

        width: 125% ;
    }
    .subsubmenu1{
        margin-left: 110px;
        margin-top: -52px;
        width: 95px;
    }

    .subsubmenu2{
        margin-left: 110px;
        width: 95px;
    }

    .subsubmenu3{
        margin-left: 110px;
        height: 215px;
        width: 185px;
    }
    

    .menu > li > a{
        display: block;
        padding: 15px 20px;
        
    }
    .cajita-menugement{
        font-size: 40px;
    }

    .item-logo{
        height: 130px;
        width: 130px;
        margin-top: 30px;
    }

  }

  @media (max-width: 1200px){
    .submenu{
    
        width: 135% ;
    }
    .subsubmenu1, .subsubmenu2, .subsubmenu3{
        margin-left: 106px;
        }

    
    .menu > li > a{
        display: block;
        padding: 15px 15px;
        
    }
    .cajas-4{
        font-size: 40px;
    }
    
  }



  @media (max-width: 1125px){
    .submenu{
       padding-left: 35px;
        width: 170% ;
    }
    .menu > li > a{
        display: block;
        padding: 15px 10px;
        
    }
    .cajita-menugement{
        font-size: 40px;
    }
  }

  .item-logo{
    height: 120px;
    width: 120px;

}

  @media (max-width: 1050px){
    .submenu{
        padding-left: 20px;
         width: 175% ;
     }
     .subsubmenu1, .subsubmenu2, .subsubmenu3{
        margin-left: 102px;
        }

    .menu > li > a{
        display: block;
        padding: 15px 5px;
    }
    

    .submenu{
        position: absolute;
        background-color: #333333;
       
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.2s;
        border-radius: 2px;
        z-index: 1;
    }

    .cajita-menugement{
        font-size: 35px;
    }
    .item-logo{
        height: 100px;
        width: 100px;
        margin-top: 40px;
    }
    
  .cajas-4{
  
    
    font-size: 35px;
}    
  }

  @media (max-width: 960px){
    .submenu{
        padding-left: 15px;
         width: 165% ;
     }
    .menu > li > a{
        display: block;
        padding: 15px 10px;
    }
    .cajita-menugement{
        font-size: 0px;
    } 
    .item-logo{
        height: 90px;
        width: 90px;
        margin-top: 45px;
    }
    
  .cajas-4{
  
    
    font-size: 30px;
}    
  }
  

  @media (max-width: 840px){
    
    .submenu{
        padding-left: 8px;
         width: 180%;
     }
    .menu > li > a{
        display: block;
        padding: 15px 5px;
    }
    .cajita-menugement{
        font-size: 0px;
    } 
    .item-logo{
        height: 80px;
        width: 80px;
        margin-top: 45px;
    }
    
  
  }
/*
  @media (max-width: 760px){
    .submenu{
        padding-left: 8px;
         width: 103%;
     }
    .menu > li > a{
        display: block;
        padding: 15px 5px;
    }
    .cajita-menugement{
        font-size: 0px;
    } 
  }*/


  @media (max-width: 780px){/*625,635Hoy*/
    #categoria{
        margin-top: -10px;
    }
    #dificultad{
        margin-top: -5px;
    }
    #tiempo{
        margin-top: -10px;
    }
    .subsubmenu1{
        margin-left: 1280px;
        margin-top: 5px;
    }
    .subsubmenu2{
        margin-left: 1280px;
        margin-top: 2px;
        height: 300px;
    }
    .subsubmenu3{
        margin-left: 1280px;
        margin-top: 3px;
        height: 240px;
    }
    .checkbtn{
        display: block;
      }
      #check:checked ~ .menu{
        
        left: 0;
        
        z-index: 1;
        /*background-color:  black;*/
      }

      /*#check:checked ~ .menu{
        height: 400px;
        background-color: teal;
        z-index: 1;
      }
      /*#check:checked ~ ul{
          height: 500px;
      }*/
    
    
    
    .menu li:hover .responsive-cat{
        
        height: 145px;
    }
   

    ul{
        position: absolute ;
        /*width: 635px;*/
        height: 620px;/*400*/
        

        background: #2c3e50;;
    
        top: -2px;/*80pxH*/
        left: -102%;
        margin-left: -38px;/*-98pxunset*/
        /*margin-right: -684px;/*64o4px*/
        width: 100%;
        margin-top: 90px;/*mio*/
        
        text-align:center;
        transition: all .5s;
    
      }

    
    .submenu{ 
        background-color: #333333;
        /*height: 1800px;*/
        /*width: 200%;/*30%*/
        width: 100%;
        margin-left: 100%;/*560 px para 100%*/
        height: 179px;
        margin-top: 50px;
       /* margin-left: 134%;/*34%*/
        /*margin-top: 50px;/*-30px*/
    }
    

    .submenu li a{
        display: block;
        padding: 15px;
        padding-left: 0px;
        color: #fff;
        font-family:'Lato', sans-serif;
        font-size: 18px;
        text-decoration: none;
    }
 
   

      .menu{
        display:flex;
        flex-direction:column;
    }
 
    .cajita-menugement{
        
        font-size: 50px;
        width: 0px;
        margin-left: 100px;
        
    }
    .logoMQ{
        width: 0px;
        height: 0px;
    }
    
      nav ul li{
        display: block;
        margin: 0px 0;
        
        line-height: 30px;
      }
      nav ul li a{
        font-size: 20px;
      }
      a:hover,a.active{
        background: none;
        color: #0082e6;
      }
      .item-logo{
        height: 80px;
        width: 80px;
        margin-top: 50px;
    }
.cajas-1{
    width: 28%;
}
  .cajas-4{
  
    font-size: 25px;
    }  
  }

  @media (max-width: 770px){
    .subsubmenu1, .subsubmenu2, .subsubmenu3{
        margin-left: 165%;
        margin-top: 5px;
    }
    .subsubmenu3{
        padding-left: 10px;
    }

  }  
@media(max-width: 600px){
    

    footer{
        display:flex;
        flex-direction:column;
        height: auto;    
    
    }
  .cajas-1{
      display: inline-block;
      width: auto;
      
  }
  .cajas-2{
      display: inline-block;
      width: auto;
     

  }
  
  .cajas-3{
      width: auto;
      /*display: flex;*/
      align-items: center;
    
  }
  
  
  .cajas-4{
      display: block;
      font-family: 'Lobster', cursive;
      align-items: center;
      width: auto;
      font-size: 25px;
    margin-bottom: 20px;
      
      
  }     
  
  .item-logo{
      height: 100px;
      width: 100px;
  }    
} 

@media(max-width: 480px){
.submenu{
    text-align: left;
    padding-left: 100px;
}
.subsubmenu1, .subsubmenu2, .subsubmenu3{
    margin-left: 145%;
}

}