body{
    margin: 0;
    padding: 0;
   
}
.menus{
    margin: 10%;
    
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #E8CB9A;
    width: auto;
    height:auto;
    
    top: 20%;   
    left: 23%;
    box-sizing: border-box;   
    padding: 70px 30px;
    padding-top: 40px;

}
.tabla{
    width:100%;
    
    height: 200px;
    padding: 10px 20px;
    position: relative;
    background-color: #E8CB9A;
    border-collapse: inherit;
    
}
th{
    font-family: 'lato', sans-serif;
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;

}
td{
    padding: 5px 30px;
    text-align: center;
    border-bottom:1px dashed grey ;
    font-family: 'Nunito Sans', sans-serif;
}

.ver-menu{
    border-color: #333333; 
    font-size: 16px;
    height: 30px;
    border-radius: 8px;
    color: white;
    background-color: #333333;
}
.ver-menu:hover{
    border-color: black;
    color: rgba(0, 128, 0, 0.637);
    background-color: honeydew;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
   

}


.Add-menu:hover{
    border-color: black;
    color: rgba(0, 128, 0, 0.637);
    background-color: honeydew;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
    
}
.titulo{
    text-align: center;
    color: black;
    font-family: 'Lobster', cursive;
    font-size: 25px;

}.Add-menu{
    margin-left: 75%;
    font-size: 20px;
    height: 40px;
    border-radius: 8px;
    color: white;
    background-color: #333333;
    border-color: #333333; 
    font-weight: 500;
    margin-bottom: 10px;
}

.button{
    height: 600px;
}

tr{
    margin: 0px;
}

@media(max-width: 730px){
    .Add-menu{
        margin-left: 70%;
    }
}
@media(max-width: 600px){
    .Add-menu{
        margin-left: 65%;
    }    
}
@media(max-width: 500px){
    .Add-menu{
        margin-left: 60%;
    }
    .menus{
        width: auto;
        margin: -10%;
        margin-top: 2%;
        margin-bottom: 2%;
        background-color: #f30b2e1e;
        
        
         
        left: 23%;
          
        padding: 70px 30px;
        
    }
}
@media(max-width: 400px){
    .Add-menu{
        margin-left: 55%;
    }
}
@media(max-width: 350px){
    .Add-menu{
        margin-left: 50%;
    }
}