.etiquetaPM{
    font-family: 'lato', sans-serif;
    color: black;
    font-size: 16px;
    float: left;
    padding-left: 10px;
    padding-top: 10px;
 }

 .contPM{
     background-color: #E8CB9A;
     border-radius: 8px;
     height: 285px;
     margin-bottom: 20px;
     margin-top: 20px;
     width: 50%;
 }

 .tituloPM{
    font-family: 'Lobster', cursive;
    color: #333333;
    font-size: 70px;
    padding-left: 10px;
    padding-top: 10px;
 }
 .botonCerrar{
    border-color: #333333;
    font-size: 16px;
    height: 30px;
    margin-top: 10px; 
    margin-left: 10px;
 }
 .botonCerrar:hover{
    border-color: black;
    color: #4f774f;
    background-color: honeydew;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
 }